{% include 'product_base.html'   %}

{% block main %}
 

<div class="information">
  <i class="fa-solid fa-file-invoice-dollar"></i> <span class="small-text">Installment Plans</span>
  <i class="fa-solid fa-person-walking-arrow-loop-left"></i><span class="small-text">Free 30-day returns</span>
  <i class="fa-solid fa-truck-fast"></i><span class="small-text">Fast standard shipping</span>
  <i class="fa-solid fa-face-kiss-wink-heart"></i> <span class="small-text">1-year warranty</span>
</div>

<!-- select form start -->
<div class="filter-container">

<form action="" method="post">
  <span class="small-text">I need a </span>
  <!-- checkbox -->

  
  
  <div class="checkbox inline" >
    <input id="apple" type="checkbox" name="apple" />
    <label class="label" for="apple">Smart Phones</label>

    <input id="pear" type="checkbox" name="pear" />
    <label class="label" for="pear">Computers</label>

    <input id="Nokia" type="checkbox" name="nokia" />
    <label class="label" for="Nokia">Game Consoles</label>
  </div>
  <!-- select -->
    <div class="input-group">
        <select class="form-select" id="inputGroupSelect01" data-width="auto">
          <option >Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
</form>

</div>
<!-- select form end -->
    <div class="container p-3">
      
      <h2>Phones so smart, they’re on the honor roll   (5,000) results</h2>
        <div class="col-12 col-sm-10 col-md-6 col-lg-8 m-auto">
            <div class="row align-items-center">
              <div class="col-md-12 col-12 col-lg-8  mb-5">
                <div class="product container" >
                    <div class="row align-items-center">
                      
                      <div class="product-image-container col-6 ">
                        <div class="image-box">
                          <img class="product-image" src={{ url_for('static', filename="product/images/IPhone-PNG-Photos.png")}}>
                        </div>
                      </div>
                      <div class="product-image-details col-6">
                        <h2>Galaxy S20FE 5G</h2>
                        <h3>128 GB -Cloud Navy</h3>
                        <h3>Waranty 12 months</h3>
                        <div></div>
                        <span class="small-text">Starting from</span>
                        <span class="price">$166.29</span>
                        <div></div>
                      </div>

                    </div>

                  </div>
              </div>
              <div class="col-md-6 col-6 col-lg-4 mb-5">
                <div class="product  " >
                  <div class="">
                      
                    <div class="product-image-container">

                      <div class="image-box">
                        <img class="product-image" src={{ url_for('static', filename="product/images/IPhone-PNG-Photos.png")}}>
                      </div>
                    </div>
                    <div class="product-image-details">
                      <h2>Galaxy S20FE 5G</h2>
                        <h3>128 GB -Cloud Navy</h3>
                        <h3>Waranty 12 months</h3>
                        <div></div>
                        <span class="small-text">Starting from</span>
                        <span class="price">$166.29</span>
                        <div></div>
                    </div>

                  </div>
                  </div>
              </div>

              <div class="col-md-6 col-6  col-lg-4 mb-5">
                <div class="product  " >
                  <div class="">
                      
                    <div class="product-image-container">

                      <div class="image-box">
                        <img class="product-image" src={{ url_for('static', filename="product/images/IPhone-PNG-Photos.png")}}>
                      </div>
                    </div>
                    <div class="product-image-details">
                      <h2>Galaxy S20FE 5G</h2>
                        <h3>128 GB -Cloud Navy</h3>
                        <h3>Waranty 12 months</h3>
                        <div></div>
                        <span class="small-text">Starting from</span>
                        <span class="price">$166.29</span>
                        <div></div>
                    </div>

                  </div>
                  </div>
              </div>
              <div class="col-md-6 col-6 col-lg-4 mb-5">
                <div class="product  " >
                  <div class="">
                      
                    <div class="product-image-container">

                      <div class="image-box">
                        <img class="product-image" src={{ url_for('static', filename="product/images/IPhone-PNG-Photos.png")}}>
                      </div>
                    </div>
                    <div class="product-image-details">
                      <h2>Galaxy S20FE 5G</h2>
                        <h3>128 GB -Cloud Navy</h3>
                        <h3>Waranty 12 months</h3>
                        <div></div>
                        <span class="small-text">Starting from</span>
                        <span class="price">$166.29</span>
                        <div></div>
                    </div>

                  </div>
                  </div>
              </div>
              <div class="col-md-6 col-6 col-lg-4 mb-5">
                <div class="product  " >
                  <div class="">
                      
                    <div class="product-image-container">

                      <div class="image-box">
                        <img class="product-image" src={{ url_for('static', filename="product/images/IPhone-PNG-Photos.png")}}>
                      </div>
                    </div>
                    <div class="product-image-details">
                      <h2>Galaxy S20FE 5G</h2>
                        <h3>128 GB -Cloud Navy</h3>
                        <h3>Waranty 12 months</h3>
                        <div></div>
                        <span class="small-text">Starting from</span>
                        <span class="price">$166.29</span>
                        <div></div>
                    </div>

                  </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    

{% endblock %}
