
{% extends "front_base.html" %}
{% block title %}Index{% endblock %}

{% block page %}
  
<section id="demo-page" class="demopage-content">
	<div class="container">
		<h2 class="ui-title-block">Select a demo page</h2>
		<div class="starSeparatorBox clearfix">
			<div class="demopage-preview row">

				<!-- Group-1 -->
				<div class="col-sm-4 col-xs-12 clearfix wow">
					<div class="demopage-preview_item">
						<a target="_blank" href="home.html" class="demopage-preview_inner">
							<img class="img-responsive" src={{ url_for('static', filename="assets/media/preview/01_Home.jpg")}} alt="Foto">
						</a>
					</div>
					<h3>Homepage</h3>
				</div>

				<div class="col-sm-4 col-xs-12 clearfix wow">
					<div class="demopage-preview_item">
						<a target="_blank" href="about.html" class="demopage-preview_inner">
							<img class="img-responsive" src={{ url_for('static', filename="assets/media/preview/03_About.jpg")}} alt="Foto">
						</a>
					</div>
					<h3>About</h3>
				</div>

				<div class="col-sm-4 col-xs-12 clearfix wow">
					<div class="demopage-preview_item">
						<a target="_blank" href="services-1.html" class="demopage-preview_inner">
							<img class="img-responsive" src={{ url_for('static', filename="assets/media/preview/04_Services-1.jpg")}} alt="Foto">
						</a>
					</div>
					<h3>Services - 1 </h3>
				</div>
				<!-- end Group-1 -->

				<!-- Group-2 -->
				<div class="col-sm-5 col-sm-offset-1 col-xs-12 clearfix wow">
					<div class="demopage-preview_item">
						<a target="_blank" href="services-2.html" class="demopage-preview_inner">
							<img class="img-responsive" src={{ url_for('static', filename="assets/media/preview/05_Services-2.jpg")}} alt="Foto">
						</a>
					</div>
					<h3>Services - 2 </h3>
				</div>

				<div class="col-sm-5 col-xs-12 clearfix wow">
					<div class="demopage-preview_item">
						<a target="_blank" href="blog-main.html" class="demopage-preview_inner">
							<img class="img-responsive" src={{ url_for('static', filename="assets/media/preview/06_Blog.jpg")}} alt="Foto">
						</a>
					</div>
					<h3>Blog main</h3>
				</div>
				<!-- end Group-2 -->

				<!-- Group-1 -->
				<div class="col-sm-4 col-xs-12 clearfix wow">
					<div class="demopage-preview_item">
						<a target="_blank" href="blog-post.html" class="demopage-preview_inner">
							<img class="img-responsive" src={{ url_for('static', filename="assets/media/preview/07_Blog-post.jpg")}} alt="Foto">
						</a>
					</div>
					<h3>Blog post</h3>
				</div>

				<div class="col-sm-4 col-xs-12 clearfix wow">
					<div class="demopage-preview_item">
						<a target="_blank" href="contact.html" class="demopage-preview_inner">
							<img class="img-responsive" src={{ url_for('static', filename="assets/media/preview/08_Contact.jpg")}} alt="Foto">
						</a>
					</div>
					<h3>Contacts</h3>
				</div>

				<div class="col-sm-4 col-xs-12 clearfix wow">
					<div class="demopage-preview_item">
						<a target="_blank" href="p-404.html" class="demopage-preview_inner">
							<img class="img-responsive" src={{ url_for('static', filename="assets/media/preview/09_Not-found.jpg")}} height="1500" width="1920" alt="Foto">
						</a>
					</div>
					<h3>Page 404</h3>
				</div>
				<!-- end Group-1 -->

				<!-- Group-2 -->
				<div class="col-xs-12 clearfix wow">
					<div class="demopage-preview_item">
						<a target="_blank" href="typography.html" class="demopage-preview_inner">
							<img class="img-responsive" src={{ url_for('static', filename="assets/media/preview/10_typography.jpg")}} alt="Foto">
						</a>
					</div>
					<h3>Typography</h3>
				</div>
				<!-- end Group-2 -->

			</div>
		</div>
	</div>
</section>

{% endblock %}

    
			


		


